body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(40, 40, 65);
    background-image: url('./particles.png');
    color: white;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 75ch;
    min-height: 100vh;

    background-color: rgba(0, 0, 0, 0.2);
}
header{
    align-self: stretch;
    max-width: 75ch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.page-button{
    background: rgb(40, 40, 65);
    border-radius: 0;
    padding: 2;
    border: none;
    cursor: pointer;
    color: white;
}
.header-button-active{
    background-color: rgba(0, 0, 0, 0.2);
}
.header-button-inactive{
    background-color: rgba(0, 0, 0, 0.8);
}
.container{
    display: grid;
    gap: 5px;
    justify-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    border: 1px solid white;
    border-left: none;
    border-right: none;
    margin: 5px 0;
}
.section{
    text-align: center;
    padding: 0 5%;
}
.section h2::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    margin: 5px;
}
.section h2::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    clip-path: polygon(50% 90%, 0 0%, 100% 0%);
    margin: 5px;
}
.section p{
    margin: 2px 0;
}